.wrapper{
    display: grid;
    grid-template-areas:
     'header header'
     'users messages';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 3fr;
}
.wrapper header{
    grid-area: header;
}


