.btnWrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.h2{
    margin: 10px;
}
.btnWrapper button{
    width: 180px;
    height: 40px;
    background-color: rgb(5, 170, 32);
    color: white;
    border: none;
    align-items: center;
}

.btnWrapper button:hover{
    background-color: rgb(7, 192, 38);
}
.btnWrapper button:active{
     color: rgb(255, 224, 122);
}
.pagination{
    display: flex;
    padding: 2px;
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 1000px;
    overflow-x: auto;
}
.pagination::-webkit-scrollbar{
height: 10px;
}
.pagination::-webkit-scrollbar-track {
    background: rgb(197, 197, 197);   
  }
.pagination::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141); 
    border-radius: 6px;       
    border: 2px solid rgb(197, 197, 197);
  }

.pagination div{
    color:gray;
    margin-right: 5px;
    cursor: default;
}
.pagination div:hover{
    cursor: pointer;
    text-decoration: underline;
}

.pagination .selected{
    color:black;
    font-weight: bold;
    text-decoration: underline;
}