*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 70px 20px 80px;
    display: grid;
    grid-template-areas: 
        'head head'
        'nav main';
    grid-template-columns: 265px 1fr;
    grid-template-rows: 72px 1fr;
    grid-gap: 15px;
}



